body
  background-image: url('../../img/spine.jpg')
  background-repeat: no-repeat
  background-size: cover
  font-family: 'Poiret One', cursive
  color: #563A56

form
  display: flex
  align-items: center
  input
     color: black
     width: 300px
     height: 40px

.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  padding-top: 20px


p, li, label
  font-size: 22px

h1
  font-size: 45px

h3
  width: 600px

button
  background-color: #ea6136
  border: none
  width: 150px
  height: 40px
  font-size: 25px
  margin: 20px
  color: white

#results
  display: flex
  flex-wrap: wrap

.doc
  width: 500px
  height: 250px
  overflow: scroll
  margin: 20px
  background-color: rgba(255, 255, 255, 0.5)
  border: 2px solid #563A56
  padding: 20px
  position: relative
  h3
    font-size: 27px
    width: 350px
    position: absolute
    top: 50px
    right: 00px
  .bio
    padding-top: 20px
